* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    background-color: #3f4453;
    font-family: 'Montserrat', sans-serif;
}

.sidebar {
    position: fixed;
    border: 1px solid #ffff;
    left: 0;
    top: 0;
    bottom: 0;
    width: 196px;
    background-color: #3f4453;
    padding: 24px;
}
.sidebar .logo img {
    width: 130px;
}
.sidebar .navigation ul {
    list-style: none;
    margin-top: 20px;
}
.sidebar .navigation ul li {
    padding: 10px 0px;
}
.sidebar .navigation ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
}
.sidebar .navigation ul li a:hover,
.sidebar .navigation ul li a:active,
.sidebar .navigation ul li a:focus {
    color: #ffffff;
}
.sidebar .navigation ul li a:hover .fa,
.sidebar .navigation ul li a:active .fa,
.sidebar .navigation ul li a:focus .fa {
    color: #b3b3b3;
}
.sidebar .navigation ul li .fa {
    font-size: 20px;
    margin-right: 10px;
}
.sidebar .navigation ul li a:hover .fa:hover,
.sidebar .navigation ul li a:hover .fa:active,
.sidebar .navigation ul li a:hover .fa:focus {
    color: #ffffff;
}


.topbar {
    position: fixed;
    top: 0;
    left: 246px;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #101010;
    padding: 10px 20px;
    z-index: 1000;
}
.topbar .search{
    width: 65%;
    margin: 0 auto;
    display: flex;
}
.topbar .search .search-input {
    width: 90%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}
.topbar .search button {
    width: 10%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 5px 5px 5px;
}
.topbar .search button:hover {
    background-color: #0056b3;
}
.topbar .navbar {
    display: flex;
    justify-content: space-between;
}

.topbar .navbar ul {
    list-style: none;
}

.topbar .navbar ul li {
    display: inline-block;
    margin: 0px 8px;
    width: 70px;
}
.topbar .navbar ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
}

.topbar .navbar ul li a:hover,
.topbar .navbar ul li a:active,
.topbar .navbar ul li a:focus {
    color: #ffffff;
    font-size: 15px;
}

.topbar .navbar ul li.divider {
    color: #ffffff;
    font-size: 26px;
    margin: 0px 20px;
    width: auto;
}

.topbar .navbar button {
    background-color: #ffffff;
    color: #000000;
    font-size: 10px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
    margin-left: 20px;
}

.topbar .navbar button:hover,
.topbar .navbar button:active{
    background-color: #0056b3;
}
.main-container {
    margin-top: 70px;
    margin-left: 245px;
    margin-bottom: 100px;
}
.main-slider {
    padding: 20px 40px;
}

.main-slider h2 {
    color: #ffffff;
    font-size: 22px;
    margin-bottom: 20px;
}

.main-slider .list {
    display: flex;
    gap: 20px;
    overflow: hidden;
}

.main-slider .list .item {
    min-width: 140px;
    width: 160px;
    padding: 15px;
    background-color: #181818;
    border-radius: 6px;
    cursor: pointer;
    transition: all ease 0.4s;
}

.main-slider .list .item:hover {
    background-color: #252525;
}

.main-slider .list .item img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
}

.main-slider .list .item h4 {
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-slider .list .item p {
    color: #989898;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
}

.main-slider hr {
    margin: 70px 0px 0px;
    border-color: #636363;
}

.main-container .menu-side {
    position: fixed;
    border: 1px solid #ffff;
    margin-top: 60px;
    right: 0;
    top: 0;
    bottom: 0;
    width: 290px;
    background-color: #3f4453;
    /* padding: 10px; */
    overflow: auto;
}
.main-container .menu-side .menu-buttons {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7%;
    padding: 10px;
    background: #000000;
}
.main-container .menu-side .menu-button .button{
    flex: 1;
    margin: 0 5px;
}
.playlist_button,
.recent_button {
    width: 100%;
    padding: 5px;
    background-color: #4c5262;
    color: #000000;
    border-radius: 40px;
    cursor: pointer;
    outline: none;
    background: #f6ef77;
}

.playlist_button:hover,
.recent_button:hover {
    background-color: #3b3f44;
}
.menu-side .menu-song::-webkit-scrollbar{
    /* display:none; */
    overflow-y: auto;
    max-height: none;
}
.menu-song ul {
    padding: 0;
    margin: 0;
}
.menu-song li {
    list-style: none;
    position: relative;
    padding: 20px 5px 0px 0px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .3s linear;
}
.menu-song li:hover {
    background: rgb(105, 105, 105);
}
.menu-song li span {
    font-size: 12px;
    font-weight: bold;
    color: #ffff;
}
.menu-song li img {
    width: 25px;
    height: 25px;
    margin-left: 10px;
}
.menu-song li h5 {
    font-size: 13px;
    color: #ffff;
    margin-left: 15px;
    width: 170px;
    border: 1px solid #ffff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.menu-song li h5 .subtitle {
    font-size: 9px;
    color: #1fb9b1;  
}
.menu-song li .bi {
    color: #ffff;
    position: absolute;
    right: 15px;
    font-size: 20px;
}